body {
    font-family: Arial;
    background-color: #e9e9e9;
}

#wrapper{
	position: absolute;
	top: 150px;
	left: 900px;
}

#fileCanvas{
	position: absolute;
	z-index: 2;
}

#fileInputs{
	position: absolute;
	z-index: 3;
}

#statusIndicator{
    font-size: 20px;
}

#map {
    display: block;
    margin-top: 50px;
}

#tooltips{
    position: absolute;
    display: none;
    bottom: 100px;
    right: 500px;
    width: 400px;
    height: 100px;
    border: 2px solid #99ceff;
    background-color: #cce6ff;
    font-size: 16px;
    font-family: Arial;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

nav li {
    float: left;
}

nav li .active {
    background-color: #404040;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #111;
}